.Onama {
    padding-bottom: 65vh;

    .video-flex{
  
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-width: 1200px;
        margin:0 auto;
        grid-column-gap: 50px;
        margin-bottom: 100px;

        video{
            width: 100%;
        }
    }
}

@media (max-width:1200px){
    .Onama .video-flex{
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
}