.ZagarantovanKvalitet {
    text-align: center;
    height: auto;
    padding-top:10vh;

    .sertifikati {
        display:grid;
        grid-template-columns: repeat(4,1fr);
        width:40%;
        margin:80px auto;
        grid-row-gap: 50px;
    

        .single-sertifikat{
            margin:0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img{
            margin:0 auto;
            max-width: 90%;
        }
    }
}

@media (max-width:1024px){
    .ZagarantovanKvalitet{
        .sertifikati{
            width: 90%;
        }
    }
}