.ZagarantovanKvalitet {
    text-align: center;
    height: auto;
    padding-top:10vh;

    .sertifikati {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:40%;
        margin:80px auto;

        img{
            margin:0 auto;
        }
    }
}