.OpisJabuka {
  max-width: 1200px;
  margin: 0 auto;
  padding:0 20px;
  h2 {
    text-align: center;
    font-size: 28px;
    color: #b2cb06;
    padding: 0 20px;
  }

  .flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    margin: 50px 0;

    img {
      width: 400px;
      margin: 0 auto;

    }

    .text {
      margin: 40px 0;
      margin-left: 40px;
      font-weight: bold;
      p {
        font-size: 18px;
        color: #414141;
      }

      button{
        width: 100%;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        border:none;
        text-align: left;
        background:none;

        max-width: 1200px;
        padding: 10px 20px;
        color:#b2cb06;
        cursor: pointer;
        text-decoration: underline;
        font-weight: bold;

        &:focus{
          outline: none;
        }
      }
    }
  }
}

@media (max-width:1200px){
  .OpisJabuka{
    .flex{
      display: block;

      img{
        position: relative;
        width: 90%;
        left:50%;
        transform: translateX(-50%);
      }

      .text{
        margin-left: 0;

        p{
          font-size: 18px;
        }
      
      }
    }
  }
}