.SideMenu {
  display: none;
  position: fixed;
  width: 60%;
  height: 100%;
  background: white;
  z-index: 1000;
  transform: translateX(-100%);
  transition: 0.3s;
  overflow: hidden;

  img {
    display: block;
    width: 80px;
    margin: 0 auto;
    padding: 30px 20px;
  }

  &.active {
    transform: translateX(0) !important;
  }

  .links {
    a {
      display: block;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      color: #848484;
      font-weight: bold;
      background: #f5f5f5;
      padding: 17px 25px;
      border-bottom: 2px solid white;
      letter-spacing: 1px;
      transition: .5s;

      &.active {
        background: #7fbe41;
        color: #fff;
      }
    }
  }

  .kontakt {
    display: flex;
    justify-content: space-around;
    height: 100%;
    background: #f5f5f5;
    padding-top: 15px;
    a {
      font-size: 32px;
      height: 20px;

      svg {
        fill: #7fbe41;
      }
    }
  }
}

@media (max-width: 1024px) {
  .SideMenu {
    display: block;
  }
}
