.Footer {
    position: relative;
    height:550px;
    overflow:hidden;
    position: absolute;
    width: 100%;
    bottom:0;
    z-index: 10;

    .pozadina{
        position: absolute;
        bottom:0;
        min-width: 100%;
        z-index: -1;
        filter: drop-shadow(0 20px 25px rgb(61, 58, 58));
    }

    .grid {
        display:grid;
        grid-template-columns: 1fr 1fr 1.5fr 1fr;
        padding:250px 0 0 0;
        max-width: 1200px;
        margin:0 auto;

        .kontakt {
            p,a {
                display:flex;
                justify-content: flex-start;
                align-items: center;
                font-weight: normal;

                svg{
                    font-size: 25px;
                    margin-right: 10px;
                    margin-top: 5px;
                }
            }
        }

        h4{
            color:#7f8f10;
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-size:21px;
        }

        a{
            font-weight: bold;
            text-decoration: none;
            display:block;
            color: #828571;
            padding:0 20px;
        }

        p,a {
            margin-top:10px;
            font-size: 20px;
        }
        iframe {
            border-radius: 20px;
            border:3px solid #c3d65b;
            width: 100%;
        }

        img {
            position: relative;
            top:40%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 150px;
            filter: drop-shadow(5px 5px 20px rgba(0,0,0,0.5));
        }
    }

    .copyright{
        position: absolute;
        text-align: center;
        background:#b2cb06;
        bottom:0;
        width: 100%;
        opacity: 0.8;
        p{
            font-size: 12px;
            color: white;
            padding:5px;
        }
    }
}

@media (max-width: 1024px){
    .Footer {
        height: 400px;
        .grid {
            display:block;
            padding-top:150px;

            h4{
                display:none;
            }
            p,a{
                display:none!important;
            }
            iframe{
                position: relative;
                display:block;
                width: 90%;
                height: 200px;
                margin:0 auto!important;
            }
            img{
                display:none;
            }
        }
    }
}