.NasiPartneri {
  text-align: center;

  h2 {
    display: inline-block;
    text-transform: uppercase;
  }

  .partneri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 80px auto;

    img {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}
