.App {
  position: relative;

  h2 {
    font-size: 28px;
    color: #b2cb06;
  }

  p {
    font-size: 20px;
    color: #828571;
    margin: 0 auto;
    max-width: 1200px;
  }

  h4 {
    font-size:25px;
    color: #828571;
    max-width: 1200px;
    margin:0 auto;
  }
}
