.App {
  position: relative;
  h2 {
    font-size: 28px;
    color: #b2cb06;
  }

  p {
    font-size: 20px;
    color: #828571;
    margin: 0 15%;
  }

  h4 {
    font-size:25px;
    color: #828571;
    margin:0 15%;
  }
}
