.Kontakt {
    padding-bottom: 65vh;
    .formaIMapa {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin:0 auto;
        margin-top:50px;
        padding:0 20px;
        grid-column-gap: 20px;

        iframe{
            margin:0 auto;
            width: 90%;
            height: 80%;
            border-radius: 10px;
            border:2px solid #b2cb06;
            box-shadow: 0px 0px 15px gray;
        }
    }
}

@media (max-width:1024px){
    .Kontakt{
        .formaIMapa{
            display:block;
            width: 80%;

            iframe{
                width: 100%;
                height: 300px;
            }
        }
    }
}